<!-- <div class="row">
  <h3 class="text-muted">Business Schools Explorer</h3>
</div> -->
<div class="row">
  <div class="col-xs-11"> <h3>Classifica delle università italiane 2014 <small>Il Sole 24 ore</small></h3></div>
  <div class="col-xs-1 align-right"><a href="http://www.sirislab.com/tools"><img id="logo" src="images/logo_sirislab.png"></img></a></div>
</div>

<div class="row">
  <p>Each line on the visualization represents a university while axes represent different metrics according to <a href="http://www.ilsole24ore.com/speciali/classifiche_universita_2014/home.shtml" target="_blank">La classifica delle migliori univesità italiane</a>. Drag the mouse through any of the axes to get a list of the institutions that match the filter. Use as many filters as you want!!
  </p>
</div>
<div class="row">
  
  <div class="col-xs-4"> 
 

   <!--  <p>Choose a country</p>
    <select class="combobox" id="countriesCombo">
      <option value="All" selected>All</option>
    </select> -->
  <div id="legend">
    <ul>
      <li><span id="item1">&nbsp&nbsp&nbsp&nbsp&nbsp</span>&nbspStatal universities</li>
      <li><span id="item2">&nbsp&nbsp&nbsp&nbsp&nbsp</span>&nbspNon-statal universities</li>
    </ul>
  </div>
  </div>
  <div class="col-xs-4 col-centered">
    <button type="submit" class="btn btn-default btn-sm center-block" id="clearBrushesBtn" style="width:180px" disabled>Clear all filters</button>    
  </div>
  <div class="col-xs-4">
   <div class="input-group input-group-sm navbar-right" style="width:300px">      
      <input type="text" class="form-control" placeholder="University name" id="input_school">
      <span class="input-group-addon" id="mag_glass"><span class="glyphicon glyphicon-search"></span></span>
    </div>
  </div>
</div>
<div class="row">  
  <parallel></parallel>
</div>
<!-- <div class="row" style="padding:5px 0 15px 80px">
  <img src="images/chart-parallel-legend.png">
</div> -->

<div class="row">  
  <div class="panel-heading" id="numResults"></div>    
</div>
<div class="row" id="vis">
  <div id="wrapper">
    <tableview></tableview>
  </div>
</div>
<div id="tooltip"></div>
<div class="footer">
  <div class="container text-center">
  <p>Powered by SIRIS Academic  <a href="https://github.com/sirisacademic/universities_ranking"><img src="images/github-icon.png" alt="Fork in Github"></img></a></p>  
</div>
</div>
